In [15]:
from nba_api.stats.static import players 
from nba_api.stats.endpoints import playercareerstats, leaguegamefinder
from nba_api.stats.static import teams 


import pandas as pd

### Get Active Players

In [8]:
df_players_active = pd.DataFrame(players.get_active_players())
df_players_active.head()

        id         full_name first_name last_name  is_active
0  1630173  Precious Achiuwa   Precious   Achiuwa       True
1   203500      Steven Adams     Steven     Adams       True
2  1628389       Bam Adebayo        Bam   Adebayo       True
3  1630534      Ochai Agbaji      Ochai    Agbaji       True
4  1630583      Santi Aldama      Santi    Aldama       True

### Get Teams Data

In [14]:
df_team_names = pd.DataFrame(teams.get_teams())
df_team_names.head()

           id             full_name  ...          state year_founded
0  1610612737         Atlanta Hawks  ...        Georgia         1949
1  1610612738        Boston Celtics  ...  Massachusetts         1946
2  1610612739   Cleveland Cavaliers  ...           Ohio         1970
3  1610612740  New Orleans Pelicans  ...      Louisiana         2002
4  1610612741         Chicago Bulls  ...       Illinois         1966

[5 rows x 7 columns]

In [47]:
# Using Celtics-ID
df_team_boston = (leaguegamefinder.LeagueGameFinder(team_id_nullable=1610612738)).get_data_frames()[0]
df_team_boston.head()

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0     42023  1610612738               BOS  ...   7  15       18.0
1     42023  1610612738               BOS  ...  13  19      -38.0
2     42023  1610612738               BOS  ...   9  19        7.0
3     42023  1610612738               BOS  ...  10  15        7.0
4     42023  1610612738               BOS  ...  12  16       18.0

[5 rows x 28 columns]

Sample boston finals data

In [48]:
df_team_boston.sort_values(by = 'GAME_DATE', ascending = False).head(5)

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0     42023  1610612738               BOS  ...   7  15       18.0
1     42023  1610612738               BOS  ...  13  19      -38.0
2     42023  1610612738               BOS  ...   9  19        7.0
3     42023  1610612738               BOS  ...  10  15        7.0
4     42023  1610612738               BOS  ...  12  16       18.0

[5 rows x 28 columns]

For more info, access https://nba-apidocumentation.knowledgeowl.com/help